*{
    margin: 0;
    padding: 0;
}
.header-banner{
    background: blueviolet;
    height: 100px;
    display: flex;
}
.name-title{
    flex:1;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    
    color: gray;

}